@use "sass:math";

@function rem($pixel) {
  @if math.is-unitless($pixel) {
    @return math.div($pixel, 16) + rem;
  } @else {
    @error 'don`t use units of measurement when working with "rem"';
  }
}

@function fluid($min: 10, $max: 100) {
  $maxViewportWidth: 1600;
  $minViewportWidth: 390;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  @return clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}

@function vw($target) {
  $vw-context: (1920 * 0.01) * 1px;

  // @if (max-width: 1023px) {
  //   $vw-context: (1365 * 0.01) * 1px;
  //   @return calc($target / $vw-context) * 1vw;
  // }

  // @if (max-width: 768px) {
  //   $vw-context: (1280 * 0.01) * 1px;
  //   @return calc($target / $vw-context) * 1vw;
  // }

  @return calc($target / $vw-context) * 1vw;
}
