/* ╔══════════════════════════════════════════════════════════════╗
   ║                        NORMALIZE                             ║
   ╚══════════════════════════════════════════════════════════════╝ */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scrollbar-gutter: stable;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html,
  :has(:target) {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100%;
  text-rendering: optimizeSpeed;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}

input,
textarea,
select,
button {
  font: inherit;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 600000s 0s,
    color 600000s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

dialog {
  margin: 0;
  padding: 0;
  border: none;
}

:where([class]) {
  margin-block: 0;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(address[class]) {
  font-style: normal;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a,
button,
input,
label,
select,
textarea {
  touch-action: manipulation;
}

strong,
b {
  font-weight: bolder;
}

img {
  user-select: none;
}
