@use "helpers" as *;

/* ╔══════════════════════════════════════════════════════════════╗
   ║                        UTILS                                 ║
   ╚══════════════════════════════════════════════════════════════╝ */

.u-container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);

  @include tablet {
    max-width: calc(
      var(--container-width) + var(--container-padding-x-tablet) * 2
    );
    padding-inline: var(--container-padding-x-tablet);
  }
  @include mobile {
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);

    padding-inline: var(--container-padding-x);
  }
}

.u-title-section {
  font-weight: 700;
  font-size: rem(50);
  line-height: 98%;
  color: var(--color-black);

  @include tablet {
    font-size: rem(38);
  }
  @include mobile {
    font-size: rem(26);
  }
}
