@use "helpers" as *;

/* ╔══════════════════════════════════════════════════════════════╗
   ║                        VARIABLES                             ║
   ╚══════════════════════════════════════════════════════════════╝ */

:root {
  --color-black: #313a45;
  --color-white: #fefefe;
  --color-white-absolute: #fff;
  --color-red: #e53945;
  --color-green: #164546;
  --color-blue: #84cfd1;
  --font-family: "Gilroy", sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(20)};
  --container-padding-x-tablet: #{rem(50)};

  --transition-duration: 0.2s;
}
