@use "normalize";
@use "fonts";
@use "variables";
@use "utils";
@use "globals";

// @use "blocks/header";

// @use "blocks/hero";
@use "blocks/design";
@use "blocks/about";
@use "blocks/stages";
@use "blocks/faq";
@use "blocks/consultation";
@use "blocks/reviews";

@use "blocks/footer";
